<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.passionpenguin.photohelper">

    <application
        android:theme="@style/Theme.PhotoLibraryTheme">
        <activity android:name=".GridListActivity" />
    </application>

</manifest>